form {
    border: 1px dashed black;
    display: flex;
    padding: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: linear-gradient(to right, #9B97FF 0%, #C3EDFF 25%, #C8FDFF 50%, #C3EDFF 75%, #9B97FF 100%);
    justify-content: center;    
    box-shadow: 0px 0px 12px 0px black;
}
Button {
    font-family: Georgia, 'Times New Roman', Times, serif;
}