body {
    padding: 5px;
    background-color: blanchedalmond;
    margin-top: -5px;
}

h1 {
    padding: 4px;
    text-align: center;
    background: linear-gradient(to right, blanchedalmond 0%, rgb(255, 224, 177) 20%, rgb(252, 207, 139) 50%, rgb(255, 224, 177) 80%, blanchedalmond 100%);
    font-family: 'Otto';
    font-size: 60px;
    letter-spacing: 2.4px;
    word-spacing: 5px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}