body {
    padding: 5px;
    background-color: blanchedalmond;
}

h1 {
    border: 1px dotted black;
    padding: 4px;
    text-align: center;
    background: linear-gradient(to right, #9B97FF 0%, #C3EDFF 25%, #C8FDFF 50%, #C3EDFF 75%, #9B97FF 100%);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    letter-spacing: 2.4px;
    word-spacing: 5px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    font-variant: small-caps;
}