div .Post-content {
    padding: 10px;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #EFFFFF;
}

Button {
    margin-left: 2px;
    margin-right: 2px;
}